@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Inter', sans-serif !important;
}


body {
    font-family: 'Inter', sans-serif !important;
    letter-spacing: 0.01rem;
    padding: 5rem;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h1 {
    color: #fff;
    font-weight: 300;
    margin: 0;
    line-height: 1;
}
.popout {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.popout .btn {
    display: inline-block;
    position: relative;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: 0.2s opacity ease-in-out;
    -webkit-transition: 0.2s opacity ease-in-out;
}

.popout .btn.active {
    visibility: hidden;
    opacity: 0;
}
.popout .btn:after {
    display: block;
    position: absolute;
    top: 0;
    content: "";
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
    z-index: -2;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
.popout .btn:active:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}
.popout .panel {
    box-shadow: 1px 1px 40px rgb(0 0 0 / 10%);
    position: absolute;
    bottom: 6rem;
    left: 11rem;
    width: 340px;
    text-align: left;
    overflow: hidden;
    visibility: hidden;
    transform: scale(0);
    transform-origin: 0% 100%;
    transition: all 0.2s;
    opacity: 0;
}

.popout .panel.active {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: transform 0.2s, visibility 0s 0s, opacity 0.2s;
}
.popout .panel-header {
    padding: 20px;
    font-size: 15px;
    background-color: #1d70a2;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.popout .panel-body {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 11px;
    color: #aaa;
}


.popout .card {
    border-radius: 6px;
    border: none !important;
}

.popout .close {
    position: relative;
    left: 10px;
    top: 1px;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0 !important;
    color: #fff;
    text-shadow: none !important;
    opacity: .8;
}

.popout .close:hover {
    color: #fff !important;
    text-shadow: none !important;
    opacity: 1 !important;
}

.popout .close:focus {
outline: none !important;
}

.popout .card-header {
    background: linear-gradient(90deg, rgb(231, 138, 66) 50%, rgba(236,118,35,1)  100%);
    border: none !important;
}

.popout .card-header h5, p {
    color: white;   
}

.popout .card-header h5 {
    font-weight: 700;
    padding: 0 1.25rem;   
}


.popout .card-header p {
    font-weight: 400;   
    font-size: 14px;
    padding: 0 1.25rem;
    
}

.popout .card-body a {
    background-color: white !important;
    padding: .75rem 1.25rem;
    color: #25205e;
    margin-bottom: 1.25rem;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    text-align: left;
    transition: 0.4s cubic-bezier(.22,.93,.23,.93);
}

.popout .card-body a:hover {
    text-decoration: none;
    background: linear-gradient(90deg, rgb(231, 138, 66) 50%, rgba(236,118,35,1)  100%);
    color: white;
    transform: translateX(5px);
}

.popout .card-body  {
    position: relative;
    top: -40px;
}

.popout .card-body-also {
    background-color: white !important;
    padding: .5rem 1.25rem;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    border-radius: 6px;
}


.popout .card-body-also p{
    color: #25205e;
    text-align: left;
    font-size: 14px;
}

.popout .card-body-also p:nth-child(1){
    font-weight: 600;
}

.popout .kapcsolat-a {
    box-shadow: none !important;
    background: linear-gradient(90deg, rgb(231, 138, 66) 50%, rgba(236,118,35,1)  100%);
    color: white !important;
}

.popout .kapcsolat-a:hover {
    transform: translateX(0) !important;
}



.popout i.icon.icon-earphones-alt {
    position: relative;
    bottom: 7px;
    color: white;
    font-size: 30px;
}


.fab-wrapper {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
  }
  .fab-checkbox {
    display: none;
  }
  .fab {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    background: #EC7623;
    border-radius: 50%;
    background: #EC7623;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    transition: all 0.3s ease;
    z-index: 1;
    cursor: pointer;
  }
  
  .fab:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .fab-checkbox:checked ~ .fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .fab:hover {
    background: #eb721c;
    box-shadow: 0px 8px 20px 5px rgb(0 0 0 / 15%);
  }
  
  .fab-dots {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 3s ease infinite;
    transition: all 0.3s ease;
  }
  
  .fab-dots-1 {
    left: 15px;
    animation-delay: 0s;
  }
  .fab-dots-2 {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: 0.4s;
  }
  .fab-dots-3 {
    right: 15px;
    animation-delay: 0.8s;
  }
  
  .fab-checkbox:checked ~ .fab .fab-dots {
    height: 6px;
  }
  
  .fab .fab-dots-2 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  
  .fab-checkbox:checked ~ .fab .fab-dots-1 {
    width: 32px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .fab-checkbox:checked ~ .fab .fab-dots-3 {
    width: 32px;
    border-radius: 10px;
    right: 50%;
    transform: translateX(50%) translateY(-50%) rotate(-45deg);
  }
  
  @keyframes blink {
    50% {
      opacity: 0.25;
    }
  }
  
  .fab-checkbox:checked ~ .fab .fab-dots {
    animation: none;
  }
  
  .fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid transparent;
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
  }
  
  .fab-checkbox:checked ~ .fab-wheel {
    transform: scale(1);
  }
  .fab-action {
    position: absolute;
    background: #0f1941;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
    transition: all 1s ease;
  
    opacity: 0;
  }
  
  .fab-checkbox:checked ~ .fab-wheel .fab-action {
    opacity: 1;
  }
  
  .fab-action:hover {
    background-color: #f16100;
  }
  
  .fab-wheel .fab-action-1 {
    right: -1rem;
    top: 0;
  }
  
  .fab-wheel .fab-action-2 {
    right: 3.4rem;
    top: 0.5rem;
  }
  .fab-wheel .fab-action-3 {
    left: 0.5rem;
    bottom: 3.4rem;
  }
  .fab-wheel .fab-action-4 {
    left: 0;
    bottom: -1rem;
  }


