$primaryPurple: #c32bad;
$primaryBlue: #99feff;
$primaryWhite: #ffffff;
$primaryBlack: #000;
$primaryShadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$secondaryShadow: 0 .125rem .25rem rgba(0,0,0,.075);

$codePropertyColor: #7BDCF0;
$codeValueColor: #CE9178;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

:hover, :focus {
    text-decoration: none !important;
}

:focus {
    box-shadow: none !important;
}

.btn {

    &__generate, &__copy {
        padding: .5rem 1.5rem;
        background-color: $primaryPurple;
        color: $primaryWhite;
        box-shadow: $primaryShadow;
        transition: all .5s;
        font-weight: 600;
    
        &:hover {
            color: $primaryWhite;
            box-shadow: $primaryShadow;
        }
    
        &:active {
            box-shadow: $secondaryShadow;
        }

        i {
            position: relative;
            top: 2px;
            margin-left: 3px;
        }
    }

    &__copy {
        width: 100%;
    }

}
.gradient-head { 
    color: $primaryPurple;
    font-weight: 700;

    span{
        color: $primaryBlue;
    }
}

.gradient-head {
    font-weight: 500;
}

.gradient__background {
    height: 10rem;
    width: 100%; 
    border: none;
    box-shadow: $primaryShadow;
    background: linear-gradient(256deg, $primaryPurple 0%, $primaryBlue 100%);
}

.code-editor {
    width: 100%;
    height: auto;
    background: $primaryBlack;
    font-size: 80%;
    padding: 2rem;
    overflow-x: auto;
    border-radius: .25rem;
    box-shadow: $primaryShadow;
}

code {
    font-size: 1rem;
    color: $primaryWhite;
    white-space: nowrap;

    .code-editor__property {
        color: $codePropertyColor;
    }

    .code-editor__value {
        color: $codeValueColor;
    }
    
}

