@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif !important;
}

.bg-full {
    min-height: 35vh;
    background-position: center center;
    background-size: cover;
    background-image: url(faq_bg.png);
    opacity: .9;
}

.kereso {
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    border: none !important;
    border-radius: 6px !important;
}

.kereso-letolva {
    position: relative;
    top: 75px;
}

.faq-head {
    color: #EC7623;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
    cursor: pointer;
  }

  .search-button i {
      font-weight: 700;
      position: relative;
      top: 2px;
      font-size: 18px;
      color: #ee8439;
  }
  
.faq-img {
    width: 64px;
}

.card-faq-topic {
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    border: none !important;
    border-radius: 6px !important; 
}

.card-faq-topic .box-part {
    z-index: -1;
}

.faq-topic-container{
    padding: 9rem 0rem 0rem !important;
    display: block !important;
}

.faq-title {
    font-weight: 600;
    color: #211061;
    margin: auto;
}

.faq-section {
    padding: 10rem 0;
}


/* Típus 2 */ 

.accordion .card {
	background: none;
	border: none;
    border-radius: 6px !important;
    border-left: 5px solid #ec7623 !important;
}
.accordion .card .card-header {
	background: none;
	border: none;
	padding: .4rem 1rem;
}
.accordion .card-header h2 span {
	float: left;
	margin-top: 10px;
}
.accordion .card-header .btn {
	color: #211061;
	font-size: 1.04rem;
	text-align: left;
	position: relative;
	font-weight: 500;
	padding-left: 2rem;
}
.accordion .card-header i {
	font-size: 1.2rem;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 9px;
}
.accordion .card-header .btn:hover {
	color: #ff8300;
}
.accordion .card-body {
	color: #324353;
	padding: 0.5rem 3rem;
}
.page-title {
	margin: 3rem 0 3rem 1rem;
	position: relative;
}
.page-title::after {
	content: "";
	width: 80px;
	position: absolute;
	height: 3px;
	border-radius: 1px;
	background: #211061;
	left: 0;
	bottom: -15px;
}
.accordion .highlight .btn {
	color: #211061;
}
.accordion .highlight i {
	transform: rotate(180deg);
}


  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    max-height: 21rem;
    top: -3px;
    position: absolute;
    background-color: #ffffff;
    min-width: 57.5rem;
    overflow: auto;
    z-index: 1001;
    border-radius: 0 0 6px 6px;
    box-shadow: 0px 10px 8px 0px rgb(0 0 0 / 15%);
    border: none !important;
    overflow-y: hidden !important;
  }
  
  .dropdown-content a {
    color: #EC7623;
    padding: 9px 20px;
    margin: 0 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }
  
  .dropdown-content a:hover {
    background-color: #f9f9f9;
    color: #ee8439;
    text-decoration: none;
}

  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


  /* Accordion */ 

  .collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
}

.collapsible-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 1rem;
    color: #ec7623;
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f106';
}

.zIndexBack {
    z-index: -1;
}

.cim-category {
    font-weight: 600;
    color: #EC7623;
}


#hogyanTudokVasarolni .card {
    border-radius: 5px;
    border-left: 4px solid #ec7623;
}

.accordion .card-header .btn {
    color: #211061 !important;
    font-size: 14px !important;
}

.collapsible-link:focus {
    box-shadow: none !important;
}

.video-utmutatas {
    width: 100% !important;
}


.copy-paste-btn {
        color: #ec7623;        
        border: none !important;
        background: none !important;
}

.copy-paste-btn:focus {
    outline: none;
}

#masolhatoAdatText {
    color: #ec7623;
    font-weight: 600;
    font-size: 14px;
}

#masolhatoAdatText02 {
    color: #ec7623;
    font-weight: 600;
    font-size: 14px;
}


.faq-list {
    margin-bottom: 1rem;
    padding-right: 2rem;
}
