@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Inter', sans-serif !important;
}

.modal {
    top: 25% !important;
}

.btn-white {
    color: #5e676f;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
}

.alert {
    margin-bottom: 0 !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: white;
    border-left: 7px solid #EC7623 !important;

}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.danger-alert {
    width: 54px;
}

.alert-heading {
    color: #EC7623 !important;
    font-weight: 700;
}

.alert-body-p {
    font-size: 14px;
    font-weight: 600;
    color: #211061;
    padding-bottom: 2.5rem;
}


.btn-bearing {
    border: 1px solid transparent;
    border-radius: 4px !important;
    color: #211061 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    margin: 0 4px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.btn-bearing:hover {
    color: #EC7623 !important;
}

.gomb-hely {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.icon-check {
    font-size: 15px;
    position: relative;
    top: 1px;
}


.form-control-label {
    font-weight: 500;
    color: #211061;
    font-size: 15px;
    text-transform: initial;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    border: none !important;
    box-shadow: 1px 1px 7px gainsboro;
}


.offer_request_btn_box {
    padding: .5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgb(88 120 243 / 40%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

 .offer_request_btn {
    border: none;
    -webkit-box-shadow: 0px 0px 40px -15px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px -15px rgb(0 0 0 / 15%);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    padding: 3px 0 3px 3px;
    color: #211061;
    display: inline-block;
}

 .offer_request_btn:hover {
    text-decoration: none;
    color:#EC7623;
}

#exampleModalAjanlat {
    top: 5% !important;
}

@media (min-width: 576px)
{#exampleModalAjanlat .modal-dialog {
    max-width: 750px;
}}

h3, .h3 {
    font-size: 1.0625rem !important;
    font-weight: 600 !important;
    color: #211061 !important;
}

.card-header-arajanlat {
    padding: 3rem 1.5rem 2rem !important;
}

.btn {
    background-color: #fff !important;
}