@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Inter', sans-serif !important;
}

.modal {
    top: 25% !important;
}

.btn-white {
    color: #5e676f;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05)
}

.alert {
    margin-bottom: 0 !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: white;
    border-left: 7px solid #EC7623 !important;

}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.danger-alert {
    width: 54px;
}

.alert-heading {
    color: #EC7623 !important;
    font-weight: 700;
}

.alert-body-p {
    font-size: 14px;
    font-weight: 600;
    color: #211061;
    padding-bottom: 2.5rem;
}


.btn-bearing {
    border: 1px solid transparent;
    border-radius: 4px !important;
    color: #211061 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    margin: 0 4px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.btn-bearing:hover {
    color: #EC7623 !important;
}

.gomb-hely {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.icon-check {
    font-size: 15px;
    position: relative;
    top: 1px;
}

.icon-close {
    font-size: 15px;
    position: relative;
    top: 1px;
}


.form-control-label {
    font-weight: 500;
    color: #211061;
    font-size: 15px;
    text-transform: initial;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    border: none !important;
    box-shadow: 1px 1px 7px gainsboro;
}


.offer_request_btn_box {
    padding: .5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgb(88 120 243 / 40%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

 .offer_request_btn {
    border: none;
    -webkit-box-shadow: 0px 0px 40px -15px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px -15px rgb(0 0 0 / 15%);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    padding: 3px 0 3px 3px;
    color: #211061;
    display: inline-block;
}

 .offer_request_btn:hover {
    text-decoration: none;
    color:#EC7623;
}

#exampleModalAjanlat {
    top: 5% !important;
}

@media (min-width: 576px)
{#exampleModalAjanlat .modal-dialog {
    max-width: 750px;
}}

h3, .h3 {
    font-size: 1.0625rem !important;
    font-weight: 600 !important;
    color: #211061 !important;
}

.card-header-arajanlat {
    padding: 3rem 1.5rem 2rem !important;
}

.btn {
    background-color: #fff !important;
}

.kosar-btn {
    background-color: #EC7623 !important;
    color: white !important;
}
.kosar-btn:hover {
    color: white !important;
}

.remove-btn-cart {
    width: 24px;
}

.delete_cart_button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 37.85rem;
    top: -.85rem;
    z-index: 999999999;
}

.delete_cart_button_02 {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 21.5rem;
    top: -.85rem;
}

.icon-plus {
    color: #EC7623;
    font-size: 19px;
    margin-left: .25rem;
    cursor: pointer;
    font-weight: 700 !important;
    position: relative;
    top: 3px;
}

.opacity-new-btn {
    opacity: .5;
    -webkit-transition: all 0.1s ease-in;
    color: #EC7623 !important;
}

.opacity-new-btn:hover {
    opacity: 1;
}

.kosarneve {
    border-radius: 5px;
    border: 4px solid #f8f9fa;
}

.popver-link {
color: #211061;
text-decoration: none;
font-size: 20px;
}
.popver-link:hover {
    color: #211061;
    }
.icon-settings{
    color: #EC7623;
    font-size: 20px;
}

.tool-tip .tool-tip__info {
    top: 15px !important;
    left: 20px !important;
}

.tool-tip .tool-tip__info:before, .tool-tip .tool-tip__info:after {
    left: 26px !important;
    transform: rotateZ(90deg);
    top: 4px !important;
}

.info.szallitas-kedvezmeny-kosar a:hover {
    color: #fff !important;
}


.card {
    max-width: 25rem;
    padding: 0;
    border: none;
    border-radius: 0.5rem
}


.nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500
}

.nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
}

.tab-content {
    padding-bottom: 1.3rem
}

.nav-item a {
    min-width: 3rem !important;
}

.form-control {
    background-color: rgb(241, 243, 247);
    border: none
}

span {
    margin-left: 0.5rem;
    padding: 1px 10px;
    color: white;
    background-color: rgb(143, 143, 143);
    border-radius: 4px;
    font-weight: 600
}

.third {
    padding: 0 1.5rem 0 1.5rem
}

label {
    font-weight: 500;
    color: rgb(104, 104, 104)
}

.btn-success {
    float: right
}

.form-control:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 7px rgba(0, 0, 0, 0.2)
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ""
}

ul {
    list-style: none;
    margin-top: 1rem;
    padding-inline-start: 0
}

.search {
    padding: 0 1rem 0 1rem
}

.ccontent li .wrapp {
    padding: 0.3rem 1rem 0.001rem 1rem
}

.ccontent li .wrapp div {
    font-weight: 600
}

.ccontent li .wrapp p {
    font-weight: 360
}

.ccontent li:hover {
    background-color: rgb(117, 93, 255);
    color: white
}

.addinfo {
    padding: 0 1rem
}


/* -------------------------------- File#: _1_table-v2 Title: Table v2 Descr: Basic table template Usage: codyhouse.co/license -------------------------------- */
.tbl {
    position: relative;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.tbl::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
.tbl::-webkit-scrollbar-track {
    background-color: var(--color-contrast-lower);
}
.tbl::-webkit-scrollbar-thumb {
    background-color: alpha(var(--color-contrast-higher), 0.9);
    border-radius: 50em;
}
.tbl::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-contrast-higher);
}
.tbl__table {
    width: 100%;
}
.tbl__body .tbl__row {
    border-bottom: 1px solid alpha(var(--color-contrast-higher), 0.15);
    transition: 0.2s;
}
.tbl__body .tbl__row:hover {
    background-color: alpha(var(--color-contrast-higher), 0.025);
}
.tbl__body .tbl__row:last-child {
    border-bottom: none;
}