/* -------------------------------------------------------------------------- */

/*                                   Toast                                    */

/* -------------------------------------------------------------------------- */

.toast {
  width: 350px;
  max-width: 100%;
  font-size: 0.875rem;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.toast:not(.showing):not(.show) {
  opacity: 0;
}
.toast.hide {
  display: none;
}

.toast-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  pointer-events: none;
}
.toast-container > :not(:last-child) {
  margin-bottom: 0.75rem;
}

.toast-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.toast-header .btn-close {
  margin-right: -0.375rem;
  margin-left: 0.75rem;
}

.toast-body {
  padding: 0.75rem;
  word-wrap: break-word;
}


.pulse-btn {
  width: 16px;
  height: 16px;
  background: rgb(0,255,72);
  background: -moz-linear-gradient(146deg, rgba(0,255,72,1) 0%, rgba(55,124,54,1) 100%);
  background: -webkit-linear-gradient(146deg, rgba(0,255,72,1) 0%, rgba(55,124,54,1) 100%);
  background: linear-gradient(146deg, rgba(0,255,72,1) 0%, rgba(55,124,54,1) 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(17, 141, 38, 0.7);
  -webkit-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
  position: relative;
  top: 3px;
  margin-right: 5px;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(22, 109, 22, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(22, 109, 22, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(22, 109, 22, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 10px rgba(22, 109, 22, 0);}}

/* -------------------------------------------------------------------------- */

/*                                  Project                                   */

/* -------------------------------------------------------------------------- */
@media (min-width: 992px) {
.w-lg-65 {
    width: 65%!important;
}}

.bg-light {
  opacity: 1;
  background-color: rgb(247,250,255) !important;
}
.blockquote-lg {
  font-size: 1.75rem;
}

.blockquote {
  color: #1e2022;
}


.blockquote-footer {
  font-weight: 600;
  line-height: normal;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  color: #1e2022;
}



.project-subhead {
    color:              var(--fontColor);
}

.project-head-section {
    height:             125rem;
    background-color: rgb(255, 255, 255);
    position:           fixed;
    top:                0;
    left:               0;
    width:              100%;
    height:             75vh;
    justify-content:    center;
    align-items:        center;
    display:            flex;
    box-shadow:         rgb(50 50 93 / 0%) 0px 30px 60px -12px inset, rgb(0 0 0 / 65%) 1px -5px 36px -18px inset;

}

.project-content-section {
    background-color:  #fff;
    top:                 75vh;
}


/* -------------------------------------------------------------------------- */

/*                                  Article                                   */

/* -------------------------------------------------------------------------- */

.avatar {
  position:         relative;
  display:          inline-block;
  width:            3.125rem;
  height:           3.125rem;
  border-radius:    50%;
}


.text-cap {
  display: block;
  color: #1e2022;
  font-size: .8125rem;
  font-weight: 600;
  letter-spacing: .03125rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}


.btn-xs {
  font-size: .75rem;
  padding: .3125rem .75rem;
}

.btn-soft-secondary {
  color: #71869d;
  background-color: rgba(113,134,157,.1);
  border-color: transparent;
}



/* -------------------------------------------------------------------------- */

/*                      Vertical progress bar on scroll                       */

/* -------------------------------------------------------------------------- */


.progress-container {
  position:     fixed;
  bottom:       0;
  left:         0;
  width:        100%;
  height:       8px;
  background: #ccc;
}

.progress-bar {
  height:       8px;
  background: #00e1ff;
  width:        0%;
}


