/* -------------------------------------------------------------------------- */

/*                                sections.css                                */

/* -------------------------------------------------------------------------- */



/*
 *
 * This file contain the base of each section: 
 *
 * Code Editor Layout................base style of code editor.
 * Toggle switch theme...............base style of toggle chechbox.
 *
 */
  

/* -------------------------------------------------------------------------- */

/*                              Code Editor Layout                            */

/* -------------------------------------------------------------------------- */


.window-editor-layout ul,ol {
  list-style-type:      none;
  margin:               0;
  padding:              0;
}

.window-editor-layout {
  width:                700px;
  height:               500px;
  margin:               auto;
  background-color:   #000;
  box-shadow:           0 0 25px -7px #000;
}

.window-editor-layout .window-top {
  display:              flex;
  align-items:          center;
  height:               30px;
  background-color:   #202020;
}

.window-editor-layout .window__controls {
  display:              inline-flex;
}

.window-editor-layout .window__controls span {
  width:                15px;
  height:               15px;
  margin-left:          10px;
  border-radius:        50%;
}

.window-editor-layout .window__controls span:nth-child(1) {
  background-color:   #b22222;
}

.window-editor-layout .window__controls span:nth-child(2) {
  background-color:   #d6bf3e;
}

.window-editor-layout .window__controls span:nth-child(3) {
  background-color:   #4db434;
}

.window-editor-layout.window-editor-layout .window__title {
  flex:                 1;
  text-align:           center;
  color:              #b1b1b3;
}

.window-editor-layout .window-main {
  padding:              0.5em;
  color:              #4e4e4e;
  text-align:           left;
}

.window-editor-layout .window-main ol {
  counter-reset:        item;
  font-family:          "Source Code Pro", monospace;
}

.window-editor-layout .window-main ol li {
  margin-bottom:        3px;
}

.window-editor-layout .window-main ol li:before {
  content:              counter(item) "  ";
  counter-increment:    item;
  padding:              0 10px;
}

.window-editor-layout .tag {
  color:              #4d86b9;
}

.window-editor-layout .attr {
  color:              #8dc6e3;
}

.window-editor-layout .val {
  color:              #c58b74;
}

.window-editor-layout .text {
  color:              #d4d4d4;
}

.window-editor-layout .comment {
  color:              #517343;
}

@media only screen and (max-width: 601px) {

    .window-editor-layout .window {
        width:              350px;
        height:             350px;
        font-size:          0.65em;
    }

    .window-editor-layout.window__controls span {
        width:              10px;
        height:             10px;
        margin-left:        5px;
    }

    .window-editor-layout .window-main ol li:before {
        padding:            0;
    }
}

.window-editor-layout .line {
    display:            contents;
}



/* -------------------------------------------------------------------------- */

/*                             Toggle switch theme                            */

/* -------------------------------------------------------------------------- */



.toggle {
  display:                        flex;
}

.toggle label {
  position:                       relative;
  display:                        inline-block;
  width:                          45px;
  height:                         25px;
  background-color:               #e1e1e1;
  border-radius:                  50px;
  transition:                     all 0.3s ease-in-out;
  cursor:                         pointer;
  box-shadow:                     inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color:    transparent;
  margin-bottom:                  0;
}

.toggle label:before {
  content:                        "";
  position:                       absolute;
  top:                            2px;
  left:                           2px;
  height:                         22px;
  width:                          22px;
  background-color:               #fff;
  border-radius:                  46px;
  box-shadow:                     1px 1px 5px rgba(0, 0, 0, 0.1);
  transition:                     box-shadow 0.3s ease-in-out;
  animation:                      moveLeft 0.3s ease-in-out;
}

.toggle input {
  display:                        none;
}

.toggle input:checked + label {
  background-color:               #57de72;
}

.toggle input:checked + label:before {
  transform:                      translateX(20px);
  box-shadow:                     -1px -1px 5px rgba(0, 0, 0, 0.1);
  animation:                      moveRight 0.3s ease-in-out;
}
@keyframes moveRight {
  0% {
      width:                      23px;
      transform:                  translateX(0);
 }
  45% {
      width:                      26px;
 }
  100% {
      width:                      23px;
      transform:                  translateX(20px);
 }
}
@keyframes moveLeft {
  0% {
      width:                      23px;
      transform:                  translateX(20px);
 }
  45% {
      width:                      26px;
 }
  100% {
      width:                      23px;
      transform:                  translateX(0);
 }
}


/* -------------------------------------------------------------------------- */

/*                        Toggle switch theme 3 way                           */

/* -------------------------------------------------------------------------- */




ul {
  list-style-type: none;
  padding-left: 50px;
  margin: 0;
}

li {
  display: block;
  position: relative;
  padding: 20px 0px;
}

h2 {
  margin: 10px 0;
  font-weight: 900;
}

.card {
  display: flex;
  flex-direction: column; 
  background: var(--white);
  width: 300px;
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
}


/* Radio Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type=radio] {
  position: absolute;
  visibility: hidden;
}

label { 
  cursor: pointer; 
  font-weight: 400;
}

.check {
  width: 30px; height: 30px;
  position: absolute;
  border-radius: 50%;
  transition: transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Reset */
input#one ~ .check { 
  transform: translate(-50px, -25px); 
  background: var(--secondary-c); 
}
input#two ~ .check { 
  transform: translate(-50px, -83px); 
  background: var(--primary-c);
  box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
}

/* Radio Input #1 */
input#one:checked ~ .check { transform: translate(-50px, 33px); }

/* Radio Input #2  */
input#two:checked ~ .check { transform: translate(-50px, -25px); }