@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.section-padding {
    padding: 100px 0 0;
  }
  
  @media (min-width: 768px) {
    .section-padding{
      padding: 200px 0 0;
    }
  }
  
.mt--500 {
    margin-top: 500px !important;
}
.mt--350 {
    margin-top: 350px !important;
}
.mt--250 {
    margin-top: 250px !important;
}
.mt--100 {
    margin-top: 100px !important;
}
.mt--50 {
    margin-top: 50px !important;
}
.mt--20 {
    margin-top: 20px !important;
}

.title {
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 45px;
    margin-bottom: 19px;
    font-size: 32px;
    text-align: left;
    color: #ec7623;
  }
  
  @media (min-width: 480px) {
  .title {
      line-height: 50px;
      font-size: 38px;
    }
  }
  
  @media (min-width: 768px) {
  .title {
      line-height: 46px;
      font-size: 30px;
    }
  }
  
  @media (min-width: 992px) {
.title {
      line-height: 50px;
      font-size: 38px;
    }
  }
  
  .content-section-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
  
  @media (min-width: 992px) {
    .content-section-text p {
      font-size: 18px;
      line-height: 32px;
    }
  }
  
  .content-section-text .btn {
    margin-top: 30px;
  }

html {
    font-family: "Inter", sans-serif !important; 
}

body {
    font-family: "Inter", sans-serif !important; 
    color: #211061 !important;
}



/* Our services */ 

/* Feature Box
---------------------*/
.feature-box-1 {
    padding: 32px;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    margin: 15px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    top: 0;
  }
  .feature-box-1-orange {
    background: linear-gradient(90deg, rgba(236,118,35,1) 50%, rgba(242,153,84,1) 100%);
    color: #ffffff !important;
    top: -5px;
  }

  .feature-box-1 * {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }
  .feature-box-1 .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #ec7623;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 22px;
  }

  .feature-box-1-orange i {
    background: #ffffff !important;
    color: #ec7623 !important;
  }

  .feature-box-1 .icon i {
    line-height: 70px;
  }
  .feature-box-1:hover i {
    background: #fff;
    color: #ec7623;
}
  .feature-box-1 h5 {
    color: #ec7623;
    font-weight: 600;
  }

  .feature-box-1-orange h5 {
    color: #fff !important;
  }
  .feature-box-1 p {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
  }
  .feature-box-1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 10px;
    width: 0;
    background: linear-gradient(90deg, rgba(236,118,35,1) 50%, rgba(242,153,84,1) 100%);
    z-index: -1;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }

  .feature-box-1-orange::after {
    background-color: inherit !important;
    transition: none !important;
  }

/*   .feature-box-1-orange::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 10px;
    width: 0;
    background: #fff;
    z-index: -1;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  } */

  .feature-box-1::after .icon i {
    background: #fff !important;
  }
  .feature-box-1:hover {
    top: -5px;
  }
  .feature-box-1:hover h5 {
    color: #ffffff;
  }
  .feature-box-1:hover p {
    color: #ffffff;
  }
  .feature-box-1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    right: auto;
  }

  .our-service-box i {
    position: relative;
    top: -5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #ec7623;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
  }

.pont-head {
    color: #ec7623;
    font-family: "Inter", sans-serif;
}

.header-video {
    object-fit: cover;
    width: 99vw;
    height: 100vh;
}

.widget__icon .inner-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.circle-bg-1 {
    background: #ec7623;
    -webkit-animation: pulse 1.5s infinite;
}

.widget__icon {
    position: relative;
    height: 50px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 35px;
}

h3.widget__heading.h6 {
    padding: 11px 0;
    color: #211061 !important;
    font-weight: 600;
    margin-bottom: 0;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #EC7623;
    }
    50% {
        box-shadow: 0 0 0 30px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 60px rgba(88, 120, 243, 0);
    }
}

.map {
    position: relative;
    overflow: hidden;
    height: 705px;
    background: url(/PROJEKTEK/Bemutatkozas/map.svg) no-repeat center;
    background-size: cover;
}

.airplane {
    position: absolute;
    width: 12px;
    border-radius: 50%;
    height: 12px;
    background: #ec7623;
    transform: rotate(90deg);
    offset-path: path('M 369,307 Q 455,343 345,315 Q 200,300 370,240 Q 330,200 330,235 z');
    animation: airplane-fly 10s infinite ease-in-out;
    z-index: 2;
}

@keyframes airplane-fly {

    0% {
        offset-distance: 0;
    }
    100% {
        offset-distance: 100%;
    }
  }
  

  .content-img.content-img-group-1 {
    position: relative;
  }
  
  @media (min-width: 768px) {
    .content-img.content-img-group-1 {
      height: 425px;
      margin-bottom: -70px;
    }
  }
  
  @media (min-width: 992px) {
    .content-img.content-img-group-1 {
      margin-bottom: 0px;
    }
  }
  
  @media (min-width: 1200px) {
    .content-img.content-img-group-1 {
      height: 475px;
    }
  }
  
  .content-img.content-img-group-1 .image-1 {
    position: absolute;
    z-index: 2;
    left: 27%;
    top: 23%;
  }
  
  @media (min-width: 992px) {
    .content-img.content-img-group-1 .image-1 {
      top: 26%;
      -webkit-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }
  }
  
  @media (min-width: 1200px) {
    .content-img.content-img-group-1 .image-1 {
      top: 19%;
      left: auto;
      right: 2%;
    }
  }
  
  .content-img.content-img-group-1 .image-2 {
    position: absolute;
    z-index: 1;
    right: 40%;
    top: 12%;
  }
  
  @media (min-width: 992px) {
    .content-img.content-img-group-1 .image-2 {
      -webkit-animation-duration: 8s;
              animation-duration: 8s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }
  }
  
  @media (min-width: 1200px) {
    .content-img.content-img-group-1 .image-2 {
      top: 0;
      left: 0;
    }
  }
  
  
  
  .content-img.content-img-group-2 {
    position: relative;
  }
  
  @media (min-width: 768px) {
    .content-img.content-img-group-2 {
      height: 425px;
      margin-bottom: -70px;
    }
  }
  
  @media (min-width: 992px) {
    .content-img.content-img-group-2 {
      margin-bottom: 0px;
    }
  }
  
  @media (min-width: 1200px) {
    .content-img.content-img-group-2 {
      height: 475px;
    }
  }
  
  .content-img.content-img-group-2 .image-1 {
    position: absolute;
    z-index: 2;
  }
  
  @media (min-width: 576px) {
    .content-img.content-img-group-2 .image-1 {
      top: 0;
      left: 2%;
    }
  }
  
  @media (min-width: 768px) {
    .content-img.content-img-group-2 .image-1 {
      top: 12%;
      right: 27%;
    }
  }
  
  @media (min-width: 1200px) {
    .content-img.content-img-group-2 .image-1 {
      top: 0;
      right: auto;
      left: 5%;
    }
  }
  
  .content-img.content-img-group-2 .image-2 {
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 23%;
  }
  
  @media (min-width: 992px) {
    .content-img.content-img-group-2 .image-2 {
      top: 26%;
    }
  }
  
  @media (min-width: 1200px) {
    .content-img.content-img-group-2 .image-2 {
      top: 19%;
      left: auto;
      right: 0;
    }
  }
  .image-1 img {
    position: relative;
    left: 24rem;
    top: -6rem;
}

.image-2 img {
    position: relative;
    left: 13rem;
    top: -1rem;
}

.content-img img {
    max-width: max-content;
}


/* BEHUZÁS */ 

.content-laptop-bemutatas {
    padding: 6rem 5rem 4rem 23rem;
    min-height: 1000px;
}

.content-laptop-bemutatas-2 {
    padding: 6rem 23rem 4rem 5rem ;
    min-height: 1000px;
}

.cim-laptop-bemutatas {
    text-align: left !important;
    color: #EC7623;
    font-weight: 600;
}

.alcim-laptop-bemutatas {
    font-weight: 600;
}

.elony-laptop-bemutatas {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 5px;
}

.elony-laptop-bemutatas i{
    font-size: 34px;
    color: #ec7623;
}

.alert {
    margin-bottom: 0 !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: white;
    border-left: 7px solid #EC7623 !important;
}

.sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.make-me-sticky {
    position: sticky;
    top: 0;
/*     padding: 10rem 15px 0; */
    overflow: hidden;
}

.make-me-sticky img {
    max-width: fit-content;
}


.masodik-gorgos-csapagy {
    padding-top: 10rem;
}

/* TIMELINE */ 

.w-32 {
  width: 32px !important;
  height: 32px !important;
  font-size: .85em
}

.tl-item .avatar {
  z-index: 2
}

.circle {
  border-radius: 500px
}

.gd-warning {
  color: #fff;
  border: none;
  background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

.timeline {
  position: relative;
  border-color: rgba(160, 175, 185, .15);
  padding: 0;
  margin: 0
}

.p-4 {
  padding: 1.5rem !important
}

.block,
.card {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important
}

.tl-item {
  border-radius: 3px;
  position: relative;
  display: -ms-flexbox;
  display: flex
}

.tl-item>* {
  padding: 10px 30px 10rem;
}

.tl-item .avatar {
  z-index: 2
}

.tl-item:last-child .tl-dot:after {
  display: none
}

.tl-item.active .tl-dot:before {
  border-color: #ec7623;
  box-shadow: 0 0 0 4px rgb(236 118 35 / 35%);
  z-index: 1;
}

.tl-item:last-child .tl-dot:after {
  display: none
}

.tl-item.active .tl-dot:before {
  border-color: #ec7623;
  box-shadow: 0 0 0 4px rgb(236 118 35 / 35%);
  width: 22px;
  height: 22px;
  border-width: 17px;
  z-index: 1;
  -webkit-animation: pulse 3s infinite;
}

.tl-dot {
  position: relative;
  border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after,
.tl-dot:before {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 7px;
  border-style: solid;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  top: 15px;
  left: 0;
  transform: translateX(-50%);
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 25px;
  bottom: -8px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
}

tl-item.active .tl-dot:before {
  border-color: #ec7623;
  box-shadow: 0 0 0 4px rgb(236 118 35 / 35%);
  width: 22px;
  height: 22px;
  border-width: 15px;
  -webkit-animation: pulse 1.5s infinite;
}


.tl-dot {
  position: relative;
  border-color: rgba(160, 175, 185, .15)
}

.tl-dot:after,
.tl-dot:before {
  content: '';
  position: absolute;
  border-color: inherit;
  border-width: 7px;
  border-style: solid;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  top: 15px;
  left: 0;
  transform: translateX(-50%);
}

.tl-dot:after {
  width: 0;
  height: auto;
  top: 35px;
  bottom: -22px;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-radius: 0;
  border-style: dotted;
}

.tl-content p:last-child {
  margin-bottom: 0
}

.tl-date {
  font-size: .85em;
  margin-top: 2px;
  min-width: 100px;
  max-width: 100px
}

.avatar {
  position: relative;
  line-height: 1;
  border-radius: 500px;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.b-warning {
  border-color: #ec7623 !important;
}

.b-primary {
  border-color: #c2bbcc !important; 
}

.b-danger {
  border-color: #211061 !important;
}


  /* Link bemutatkozas */ 

  .link-bemutatkozas {
    background-color: white !important;
    padding: .75rem 1.25rem;
    color: #211061;
    margin-bottom: 1.25rem;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    text-align: left;
    transition: 0.4s cubic-bezier(.22,.93,.23,.93);
}

.link-bemutatkozas:hover {
    text-decoration: none;
    background: linear-gradient(90deg, rgb(231, 138, 66) 50%, rgba(236,118,35,1) 100%);
    color: white;
    transform: translateX(5px);
}

  .link-bemutatkozas-orange{
    background: linear-gradient(90deg, rgb(231, 138, 66) 50%, rgba(236,118,35,1) 100%);
    padding: .75rem 1.25rem;
    color: white;
    margin-bottom: 1.25rem;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    text-align: left;
    transition: 0.4s cubic-bezier(.22,.93,.23,.93);
}

.link-bemutatkozas-orange:hover {
    text-decoration: none;
    background: white !important;
    color: #211061;
    transform: translateX(5px);
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}
.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}
.item:hover {
    flex: 7;
}
.item-1 {
    background-image: url('https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80');
}
.item-2 {
    background-image: url('https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80');
}
.item-3 {
    background-image: url('https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80');
}
.item-4 {
    background-image: url('https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80');
}
.item-5 {
    background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80');
}
.social {
    position: absolute;
    right: 35px;
    bottom: 0;
}
.social img {
    display: block;
    width: 32px;
}

.full-width-bg-bemutatkozas {
    height: 75vh !important; 
    background-image: url(/PROJEKTEK/Bemutatkozas/bg-bex_01.png); 
    background-size: cover; 
    background-position: center 75%;
}

.full-width-bg-cim {
    top: -155px;
    right: 0;
    bottom: 0;
    left: 0;
}

.full-width-bg-par {
    width: 65%;
}

.full-width-bg-content {
    bottom: -500px;
}

.full-width-bg-szelso {
    bottom: -50px;
}

.bg-animation {
    background-image: url(/PROJEKTEK/Bemutatkozas/frame_bg_02.svg);
    background-size: cover; 
    background-position-y: 14%;
    background-position-x: 10%;
}


/* Előnyök kártyák */ 

.card-elony {
  border-radius: 10px !important;
  border: none !important;
  box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
  transition: 1s ease-in-out;
}

.card-elony:hover {
transform: translateY(-10px);
}

.card-elony .img-fluid {
  border-radius: 9px 9px 0 0 ;
}

.card-elony .card-footer{
  border-radius: 0 0 9px 9px !important;
  border: none;
}


.card-elony .card-body {
  color: #211061 !important;
  text-align: left;
}

#banner1 h2 {
  letter-spacing: -1px;
  color: #ffffff;
  font-family: 'Inter';
}

.hirlevel-szoveg {
  font-weight: 500;
  color: #ffffff;
}

#banner1 .form-control.text-email {
  color: #8d97ad;
  border-radius: 4px;
  text-indent: 0;
  width: 61%;
  -webkit-box-shadow: -5px 0 30px 0 rgb(0 0 0 / 5%);
  box-shadow: -5px 0 30px 0 rgb(0 0 0 / 5%);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#banner1 .line-height {
  height: 40px;
}

#banner1 .font-16 {
  font-size: 16px;
}
#banner1 .btn-success-gradiant {
  background: #ffffff;
  color: #EC7623 !important;
  font-weight: 600 !important;
}
#banner1 .btn-sub {
  border-radius: 4px;
  width: auto;
  padding: 0 16px;
  cursor: pointer;
  margin-left: 0;
  -webkit-box-shadow: 5px 0 30px 0 rgb(0 0 0 / 5%);
  box-shadow: 5px 0 30px 0 rgb(0 0 0 / 5%);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.full-width-bg-bemutatkozas-hirlevel {
  height: 70vh !important;
  background-image: url(/PROJEKTEK/Bemutatkozas/bg-bex_01.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
